[submodule "de-nek-kletser"]
	path = de-nek-kletser
	url = git@github.com:Fredkr0ket/de-nek-kletser.git
[submodule "website"]
	path = website
	url = git@github.com:Fredkr0ket/website.git
[submodule "monkey-wars"]
	path = monkey-wars
	url = git@github.com:Fredkr0ket/monkey-wars.git
[submodule "jeff-in-da-hood"]
	path = jeff-in-da-hood
	url = git@github.com:Fredkr0ket/jeff-in-da-hood.git
